# Copyright (c) [2020] vlink Team. All rights reserved.
# SPDX-License-Identifier: MulanPSL-2.0

mainmenu "vlink configuration"

rsource "platform/arch/kconfig"
rsource "platform/os/kconfig"
rsource "utils/kconfig"
rsource "components/kconfig"
rsource "tests/kconfig"
