# Copyright (c) [2020] vlink Team. All rights reserved.
# SPDX-License-Identifier: MulanPSL-2.0

### all hiden, selected by BSP

menu "arch configuration"

rsource "*/kconfig"

# tool configurations

# GNUC is supported by default
config GNUC
    def_bool y

endmenu
