# Copyright (c) [2020] vlink Team. All rights reserved.
# SPDX-License-Identifier: MulanPSL-2.0

if GTEST

config GCOV
    def_bool y

config VALGRIND
    def_bool y

menu "test case configuration"
rsource "*/kconfig"
endmenu

endif # GTEST
