# Copyright (c) [2021] vlink Team. All rights reserved.
# SPDX-License-Identifier: MulanPSL-2.0

menu "security configuration"

config SECUREC
    bool "secure C library"
    default n

rsource "crc/kconfig"

endmenu
